<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta id="token" value="{{ token }}">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>WxC API demo</title>
    </head>
    <body>
        <wrapper class="flex-col">
            <header>
                <h1>Cisco</h1>
            </header>
            <midpage class="flex flex-grow">
                <div class="login_container flex-grow centered whiteBackgroundText">
                    <h2>Webex Call Controls API Demo Platform</h2>
                    <p>Please sign in with your Webex account.</p>
                    <a id="redirect_a" href = "https://webexapis.com/v1/authorize?client_id=Cd612384d48b1561c4ae0066841a03d6eeb0ed0cf2b2d91308ec76d493cac3667&response_type=code&redirect_uri=http%3A%2F%2F192.168.1.105%3A8000%2Fcalling%2Fredirect%2F&scope=spark%3Acalls_write%20spark%3Akms%20spark%3Apeople_read%20spark%3Acalls_read&state=AccessGranted"><input type="submit" value="Sign in to Webex" class="button positive"></a>
                </div>
                <div class="about_container">

                </div>
            </midpage>
        </wrapper>
    </body>
    <script>
        // var loc = window.location
        // var endpoint = loc.protocol + "//" + loc.host + loc.pathname

        // var redirect_a = document.getElementById('redirect_a');

        // redirect_a.href = "https://webexapis.com/v1/authorize?client_id=Cd612384d48b1561c4ae0066841a03d6eeb0ed0cf2b2d91308ec76d493cac3667&response_type=code&redirect_uri=http%3A%2F%2F192.168.1.105%3A8000%2Fredirect%2F&scope=spark%3Aall%20spark%3Akms&state=set_state_here"
        // b = "https://webexapis.com/v1/authorize?client_id=Cd612384d48b1561c4ae0066841a03d6eeb0ed0cf2b2d91308ec76d493cac3667&response_type=code&redirect_uri=" + endpoint + "&scope=spark%3Aall%20spark%3Akms&state=AccessGranted"
        

    </script>
</html>